<div class="container mt-3">
    <div class="card">
      <div class="card-header bg-info text-white text-center">
        <h2 class="text-center">Editar Contraseña</h2>
      </div>
      <div class="card-body">
        <form
          [formGroup]="passwordForm"
          (ngSubmit)="onSubmit()"
          class="create-user-form"
        >
          <!-- Campo DNI -->
          <mat-form-field appearance="outline">
            <mat-label>Contraseña actual</mat-label>
            <input matInput formControlName="passwordOld" type="password"/>
            <mat-error *ngIf="passwordForm.get('passwordOld')!.errors?.['required']"
              >El campo  es obligatorio</mat-error>
            <mat-error *ngIf="passwordForm.get('passwordOld')!.errors?.['minlength']">
                La contraseña debe tener al menos 8 caracteres.
              </mat-error>
            
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Contraseña Nueva</mat-label>
            <input matInput formControlName="passwordNew" type="password"/>
            <mat-error *ngIf="passwordForm.get('passwordNew')!.errors?.['required']"
              >El campo  es obligatorio</mat-error
            >
            <mat-error *ngIf="passwordForm.get('passwordNew')!.errors?.['minlength']">
                La contraseña debe tener al menos 8 caracteres.
              </mat-error>
            
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Repetir Contraseña Nueva</mat-label>
            <input matInput formControlName="passwordNewRepeat" type="password" />
            <mat-error *ngIf="passwordForm.get('passwordNewRepeat')?.errors?.['required']">
              Este campo es obligatorio.
            </mat-error>
            <mat-error *ngIf="passwordForm.get('passwordNewRepeat')?.touched && passwordForm.get('passwordNewRepeat')?.invalid">
                Las contraseñas no coinciden.
              </mat-error>

              <mat-error *ngIf="passwordForm.get('passwordNewRepeat')!.errors?.['minlength']">
                La contraseña debe tener al menos 8 caracteres.
              </mat-error>
          </mat-form-field>
        
  
          <button
            class="btn btn-primary"
            type="submit"
            
          >
            Guardar
          </button>
          <button class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
  