create-user-form {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espaciado entre campos */
  }
  
  mat-form-field {
    width: 100%; /* Asegura que los campos ocupen todo el ancho disponible */
  }
  
button{
    width: 100%;
    margin-top: 10px;
}