<div class="container mt-3">
    <div class="card">
      <div class="card-header bg-info text-white text-center">
        <h2 class="text-center">Paciente: {{ patientName }}</h2>
      </div>
      <div class="card-body">
        <form
          [formGroup]="patientForm"
          (ngSubmit)="onSubmit()"
          class="create-user-form"
        >
          <!-- Campo DNI -->
          <mat-form-field appearance="outline">
            <mat-label>Facebook</mat-label>
            <input matInput formControlName="facebook" />
          </mat-form-field>
          <!-- Campo Nombre -->
          <mat-form-field appearance="outline">
            <mat-label>Instagram</mat-label>
            <input matInput formControlName="instagram" />
          </mat-form-field>
          <!-- Campo Apellido -->
          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address" />
          </mat-form-field>
          
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!patientForm.valid"
          >
            Guardar
          </button>
          <button class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
  