.example-form-field {
  width: 100%;
  margin-bottom: 15px;
}

/* Estilos personalizados para la tabla */
.mat-elevation-z8 {
  background-color: #f5f5f5;
}

button {
  min-height: 20px;
  text-align: middle;
  vertical-align: middle;
  margin: 0 5px;
}

.material-icons {
  margin-right: 10px;
  vertical-align: middle;
}

@media print {
  #pdfElement {
    font-size: 50%; /* Reduce el tamaño del texto al 50% */
    transform: scale(0.5); /* Escala todo el contenido al 50% */
    transform-origin: top left; /* Mantiene la posición del contenido */
    width: 200%; /* Ajusta el ancho para compensar la escala */
  }
}