<!-- <div class="main">
    <div *ngFor="let especilidad of especialidades" class="card">
        <img [src]="especialidad.foto" class="card-image-top" alt="{{especialidad.nombre}}">
        <div class="card-body">
            <h3 class="card-title">{{especialidad.nombre}}</h3>
        <p >{{especialidad.descripcion}}</p>
        
        <ul>
            <li *ngFor="let profesional of especialidad.profesionales">
               <b> {{profesional}} </b>
            </li>
        </ul>
        </div>
    </div> -->
