.container1 {
    margin-top: 100px;
    padding: 100px;
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

h1 {
    font-size: 5rem;
    margin-top: -5%;
}

h2 {
    font-size: 3rem;
    margin-top: 15px;
}