app-talleres {
    background-color: #78c2ad;
}
.container-fluid{
    width: 100%;
}

.content-wrapper {
    padding-top: 90px; /* Ajusta este valor según la altura de tu navbar */
    min-height: calc(100vh - 100px); /* Ajusta 100px según la altura del footer */
    
  }