<div class="container-sm">
  <img src="../../../../../assets/img/logoNuevoVertical.png" alt="Logo Prana">
  <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="ancho" appearance="outline">
      <mat-label>Ingrese su Correo Electrónico</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="resetPassForm.controls['email'].errors?.['required']">Este campo es requerido</mat-error>
      <mat-error *ngIf="resetPassForm.controls['email'].errors?.['email']">Ingrese un Correo Electrónico válido</mat-error>
    </mat-form-field>
    
    <button class="btn btn-primary mb-5" type="submit" [disabled]="!resetPassForm.valid">
      Recuperar Contraseña
    </button>
  </form>
</div>