.container-sm {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid #ddd; /* Añadir borde */
    border-radius: 10px; /* Añadir bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadir sombra para mejor apariencia */
    background-color: #fff; /* Añadir fondo blanco para contraste */
  }
  
  .container-sm > img {
    padding: 2rem;
    width: 60%; /* Ajusta el tamaño del logo */
    margin: 0 auto;
  }
  
  .ancho {
    width: 100%;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .container-sm {
      width: 70%;
    }
    mat-error {
      font-size: 0.9rem;
    }
  }
  
  @media screen and (max-width: 767px) {
    .container-sm {
      width: 95%;
    }
    mat-error {
      font-size: 0.87rem;
    }
  }
  