<div class="container mt-3">
    <div class="card">
      <div class="card-header bg-info text-white text-center">
        <h2>Crear Obra Social</h2>
      </div>
      <div class="card-body">
        <form
          [formGroup]="insuranceForm"
          (ngSubmit)="onSubmit()"
          class="create-user-form"
        >
        <!-- Campo Nombre -->
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="insuranceForm.get('name')!.errors?.['required']"
              >El campo Nombre es obligatorio</mat-error
            >
          </mat-form-field>

          <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!insuranceForm.valid"
        >
          Crear Obra Social
        </button>
        <button class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
      </form>
    </div>
  </div>
</div>

