<div class="container mt-3">
    <div class="card">
      <div class="card-header bg-info text-white text-center">
        <h2>Editar Horario</h2>
        <h3>Profesional: {{doctor.user}}</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()" class="create-user-form">
          <!-- Campo Día -->
          <mat-form-field appearance="outline">
            <mat-label>Día</mat-label>
            <mat-select formControlName="day">
              <mat-option *ngFor="let day of days" [value]="day.value">{{ day.display }}</mat-option>
            </mat-select>
            <mat-error *ngIf="scheduleForm.get('day')!.errors?.['required']">Este campo es obligatorio.</mat-error>
          </mat-form-field>
  
          <!-- Campo Hora de Inicio -->
          <mat-form-field appearance="outline">
            <mat-label>Hora de Inicio</mat-label>
            <input matInput type="time" formControlName="start" />
            <mat-error *ngIf="scheduleForm.get('start')!.errors?.['required']">Este campo es obligatorio.</mat-error>
          </mat-form-field>
  
          <!-- Campo Hora de Fin -->
          <mat-form-field appearance="outline">
            <mat-label>Hora de Fin</mat-label>
            <input matInput type="time" formControlName="end" />
            <mat-error *ngIf="scheduleForm.get('end')!.errors?.['required']">Este campo es obligatorio.</mat-error>
          </mat-form-field>
  
          <!-- Botones -->
          <button class="btn btn-primary" type="submit" [disabled]="!scheduleForm.valid">Editar Horario</button>
          <button class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
