
<div class="titulo">
    <h1 class="text-center">Nuestras especialidades</h1>
    <p class="descripcion">
        En PRANA, somos más que un centro terapéutico; somos una familia comprometida con tu bienestar integral. 
        Nuestro equipo está formado por apasionados profesionales especializados en diversas disciplinas que se unen con el 
        propósito de guiarte hacia una vida más saludable y equilibrada.
    </p>
</div>
<div class="container.cards">
    <app-card></app-card>
</div>
    


