<div class="container mt-3">
    <div class="card">
      <div class="card-header bg-info text-white text-center">
        <h2>Editar Obra Social {{insuranceName}}</h2>
        <h3>Paciente: {{patientName}}</h3>
      </div>
      <div class="card-body">
        <form
          [formGroup]="insurancePatientForm"
          (ngSubmit)="onSubmit()"
          class="create-user-form"
        >
        <mat-form-field appearance="outline">
            <mat-label>N° Afiliado</mat-label>
            <input matInput formControlName="code" />
            
          </mat-form-field>
  
  

          <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!insurancePatientForm.valid"
        >
          Guardar
        </button>
        <button class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
      </form>
    </div>
  </div>
</div>
