<!-- editinstagram.component.html -->
<div class="container-fluid">
    <div
      class="title bg-info text-center text-bold border border-dark rounded-top mb-4"
    >
      <h1 class="text-white">Instagram</h1>
      
    </div>
    <div class="campoEdit">
        <form [formGroup]="patientForm" (ngSubmit)="editPatient()">
            <p>*Inserte la cuenta de instagram que desea mostrar en la página de inicio.<p>
            <mat-form-field>
              <input matInput type="text" formControlName="instagram" value={{webInstagram}}>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
          </form>
    </div>
</div>
