<div class="container mt-3">
    <div class="card">
      <div class="card-header bg-info text-white text-center">
        <h2>Crear Rama de Especialidad {{specialties.name}}</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="branchForm" (ngSubmit)="onSubmit()" class="create-user-form">
  
          
          <!-- Campo Licencia Médica -->
          <mat-form-field appearance="outline">
            <mat-label>Nombre de Rama</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="branchForm.get('name')!.errors?.['required']">El campo nombre es
              obligatorio</mat-error>
          </mat-form-field>
  
       
          <!-- Campo Duración de Cita -->
          <!-- Botones -->
            <button class="btn btn-primary" type="submit" [disabled]="!branchForm.valid">
              Crear Rama
            </button>
            <button class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>